.combo-box-popup .list-view {
    -fx-font-size: 14;
    -fx-border-style: solid;
    -fx-background-color: white;
    -fx-background-insets: 0, 1;
    -fx-font-weight: BOLD;
}

.combo-box-base {
    -fx-background-color: transparent, white, transparent, white;
    -fx-font-size: 14;
    -fx-border-style: solid;
    -fx-font-weight: BOLD;
}